<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gusssar.alexeev.podschet_kart_2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_101_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_101_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AlexeevTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeActivity"/>
        <activity android:name=".TwoNameActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ThreeNameActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".TwoGameActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ThreeGameActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".FourNameActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".FourGameActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".FiveNameActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".FiveGameActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".WinActivity" />

    </application>

</manifest>